/* General light mode styles */
body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Card dark mode styles */
body.dark-mode .card-body{
  background-color: #1e1e1e;
}

body.dark-mode .card-title,
body.dark-mode .card-text,
body.dark-mode .text-muted
 {
  color: white !important; 
}

/* Ensure text-muted is properly colored in dark mode */
body.dark-mode .text-muted {
  color: white !important;
}
body.dark-mode.text-centre{
  color: #121212;
}

.about{
  color: black;
}